div.container.notitle{
    position: absolute;
    left: 50%;
    top: 30%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}
body{
    background: #eee;
}
div.row.middle-inform{
    top: 30%;
    position: absolute;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
h2.middle-inform{
    font-size: 64px;
}